/* Game Lobby */
.back_arrow:hover{
    cursor: pointer;
}

.game_loby {
    overflow: hidden;
    min-height: 100vh;
}

.game_loby_area {
    max-width: 330px;
    margin: 80px auto 0;
}

.invite_code {
    margin-bottom: 60px;
}

.invite_code div {
    padding: 18px 25px;
    box-shadow: 7px 15px 30px -12px #999;
    border-radius: 5%;
}

.code {
    text-align: center;
    font-size: 20px;
}

.game_loby_area .main_text {
    font-size: 38px;
    color: #424242;
    font-family: Montserrat-Light;
    margin-bottom: 50px;
}

.game_loby_area .main_text p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5
}

.game_users {
    margin-bottom: 80px;
}

.game_users div {
    margin: 0 10px;
    text-align: center;
}

.game_users div img {
    margin-bottom: 15px;
    box-shadow: 0 5px 12px 0 #666;
    border-radius: 50%;
}

.game_users div p {
    font-family: Montserrat-Bold;
    color: #323232
}

.start_game {
    text-align: center;
}

@media screen and (max-width:1024px) {
    .game_loby{padding-bottom: 50px;}
}